:root {
  --color1:  #020d15;
  --color2:  #223340;
  --color3:  #416274;
  --color4:  #659ab2;
  --color5:  #8eddfa;
  --color6:  #ffa600;
  --font: 'Source Sans Pros';
}

body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 0.7fr 8fr 6fr 6fr;
      grid-template-rows: 0.7fr 8fr 6fr 6fr;
      grid-template-areas: "navigation navigation navigation navigation navigation navigation navigation navigation" "content1 content1 content1 content1 content1 content1 content1 content1" ". content2 content2 content2 content3 content3 content3 .";
  grid-gap: 0rem;
  font-weight: 100;
}

.navigation {
  background-color: #020d15;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: navigation;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .navlogo {
  padding: 24px;
}

.navigation .navlogo i {
  cursor: pointer;
  color: #ffa600;
}

.navigation .navlogo a {
  color: white;
  text-decoration: none;
}

.navigation .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation .navmenu li {
  padding: 8px 24px;
  list-style: none;
}

.navigation .navmenu li a {
  text-decoration: none;
  color: white;
}

.navigation .navmenu li:hover {
  background-color: #8eddfa;
  border-radius: 5px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.navigation .navmenu li:hover a {
  color: #020d15;
}

.navigation .navcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
}

.navigation .navcontact i {
  padding: 0px 8px;
  color: #ffa600;
}

.navigation .navcontact li {
  list-style: none;
}

.navigation .navcontact li a {
  color: white;
  text-decoration: none;
}

.navigation .navbar {
  display: none;
}

.navigation .navbar i {
  color: #ffa600;
}

.content1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: content1;
  background-image: url("./img/nature.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content1 .content1-box {
  max-width: 500px;
  text-align: center;
}

.content1 .content1-box h1 {
  color: white;
}

.content1 .content1-box h2 {
  color: #8eddfa;
}

.content1 .content1-box p {
  color: #ffe2ca;
}

.content2 {
  padding: 24px 24px;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-area: content2;
  background-color: #416274;
}

.content2 h2 {
  color: white;
}

.content2 h1 {
  color: white;
}

.content2 p {
  color: #d3d3d3;
}

.content2 button {
  width: 10rem;
  height: 5rem;
  border-radius: 5px;
  border-style: none;
  font-size: 20px;
  background-color: #ffa600;
  color: white;
}

.content3 {
  padding: 24px 24px;
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: content3;
  background-color: #659ab2;
}

.content3 h2 {
  color: white;
}

.content3 p {
  color: white;
}

@media screen and (max-width: 850px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.1fr 1.5fr 1.5fr 1.5fr;
        grid-template-rows: 0.1fr 1.5fr 1.5fr 1.5fr;
        grid-template-areas: "navigation" "content1" "content2" "content3";
  }
  .navigation {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: navigation;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navigation .navmenu {
    display: none;
    width: 100%;
  }
  .navigation .navmenu li {
    margin: 0px 10px;
    text-align: center;
  }
  .navigation .navcontact {
    display: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 96%;
    padding: 20px 0;
  }
  .navigation .navbar {
    margin: 12px;
    padding: 12px 12px;
    display: block;
    position: absolute;
    right: 0px;
    cursor: pointer;
  }
  .navigation .navcontact.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #020d15;
  }
  .navigation .navmenu.active {
    display: block;
    background-color: #020d15;
  }
  .content1 {
    padding: 15px;
  }
}
/*# sourceMappingURL=style.css.map */