:root {
  --color1:  #020d15;
  --color2:  #223340;
  --color3:  #416274;
  --color4:  #659ab2;
  --color5:  #8eddfa;
  --color6:  #ffa600;
  --font: 'Source Sans Pros';
}

body {
  background-color: white;
  margin: 0;
}

.container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: auto;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 4fr 3fr 3fr;
      grid-template-rows: 1fr 4fr 3fr 3fr;
      grid-template-areas: "nav nav nav nav" "content1 content1 content1 content1" "content2 content2 content3 content3";
  grid-gap: 0.1rem;
  font-weight: 100;
}

.nav {
  background-color: #020d15;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: nav;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .navlogo {
  padding: 24px;
}

.nav .navlogo i {
  color: #ffa600;
}

.nav .navlogo a {
  color: white;
  text-decoration: none;
}

.nav .navmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .navmenu li {
  padding: 8px 24px;
  list-style: none;
}

.nav .navmenu li a {
  text-decoration: none;
  color: white;
}

.nav .navmenu li:hover {
  background-color: #8eddfa;
  border-radius: 5px;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.nav .navmenu li:hover a {
  color: #020d15;
}

.nav .navcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 24px;
}

.nav .navcontact i {
  padding: 0px 8px;
  color: #ffa600;
}

.nav .navcontact li {
  list-style: none;
}

.nav .navcontact li a {
  color: white;
  text-decoration: none;
}

.nav .navbar {
  display: none;
}

.nav .navbar i {
  color: #ffa600;
}

.content1 {
  padding: 8px 24px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: content1;
  display: block;
  background-color: #ffe2ca;
  text-align: left;
}

.content1 h1 {
  color: #020d15;
}

.content1 h2 {
  color: green;
}

.content1 p {
  color: grey;
}

.content2 {
  padding: 8px 24px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: content2;
  background-color: #416274;
}

.content2 h2 {
  color: white;
}

.content2 h1 {
  color: white;
}

.content2 p {
  color: grey;
}

.content2 button {
  background-color: #ffa600;
  color: white;
}

.content3 {
  padding: 8px 24px;
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: content3;
  background-color: #659ab2;
}

.content3 h2 {
  color: white;
}

.content3 p {
  color: white;
}

@media screen and (max-width: 850px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 4fr 3fr 3fr;
        grid-template-rows: 1fr 4fr 3fr 3fr;
        grid-template-areas: "nav" "content1" "content2" "content3";
  }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .navmenu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navbar {
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */